h1{
    background-color: rgba(39, 89, 95, 0.545);

    }
nav{
    position: absolute;
    top: 15%;
    left: 70%;
}

nav a{
top: 50%;
text-decoration: none;
}
nav li{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: inline-block;
margin: 0 0 0 5px;
}

.caixa {
    position: relative;
    width: 100%;
        }


.servicos li {
    display: inline-block;
}
.prooduto{
    width: 50%;
}