h1{color: rgb(4, 0, 255);
    background-color: rgba(2, 115, 132, 0.545);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
nav{
    position: absolute;
    top: 50%;
    left: 40%;
}

nav a{
top: 50%;
text-decoration: none;
}
nav li{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: inline-block;
margin: 0 0 0 5px;
}

.caixa {
    position: relative;
    width: 940px
    margin: 0 auto;
}